.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.postItem-title {
  width: 70%;
  margin: 0 auto;
  background-color: #e2e5e6;
  padding: 0.7rem;
  border-radius: 9px;
  font-size: 1.3rem;
  font-weight: bold;
}

.emptyComments {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 1rem;
}

.comments-header {
  text-align: center;
  background: #ebedef;
  margin-bottom: 0.5rem;
}
.comments-header span {
  font-size: 22px;
  font-weight: bold;
}

.addComment {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}
